#wrapper{
height:calc(100vh- 95px);
overflow-y :scroll;
overflow-x :hidden;
}

#finder{
 display : flex;

}

#list{
    height : 100%;
    overflow-y:  auto;

}

#list-view{
 flex-grow: 1;
}


.list-produit{
width:200px;
padding : 10px;
border-bottom: 1px solid lightblue;
}


.list-produit>*{vertical-align: middle;}

.list-produit > .list-produit-content{
    display: inline-block;
    }

.list-produit>img{
    max-width: 60%;
    display: inline;
}